.nav-top a:hover {
  color: #898989;
}

.bg-dark {
  background-color: #221e1f !important;
  border-bottom: solid 5px #ec4225;
}
.slide {
  width: 100%;
}

.img-row-3 {
  border-bottom: solid 0.5px rgba(211, 211, 211, 0.904);
  padding: 0px;
  margin: 0px;
}
.img-row-3 .col-md {
  padding: 0px;
  overflow: hidden;
}
.img-row-3 .col-md img {
  width: 100%;
}
.slide-h-img {
  display: block;
  margin: 50px auto;
}

.slider {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 980px;
  width: 100%;
  height: 480px;
  overflow: hidden;
  visibility: hidden;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*jssor slider arrow skin 106 css*/
.jssora106 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora106 .c {
  fill: #fff;
  opacity: 0.3;
}
.jssora106 .a {
  fill: none;
  stroke: #000;
  stroke-width: 350;
  stroke-miterlimit: 10;
}
.jssora106:hover .c {
  opacity: 0.5;
}
.jssora106:hover .a {
  opacity: 0.8;
}
.jssora106.jssora106dn .c {
  opacity: 0.2;
}
.jssora106.jssora106dn .a {
  opacity: 1;
}
.jssora106.jssora106ds {
  opacity: 0.3;
  pointer-events: none;
}

/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: #000;
}
.jssort101 .p .cv {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  box-sizing: border-box;
  z-index: 1;
}
.jssort101 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 400;
  stroke-miterlimit: 10;
  visibility: hidden;
}
.jssort101 .p:hover .cv,
.jssort101 .p.pdn .cv {
  border: none;
  border-color: transparent;
}
.jssort101 .p:hover {
  padding: 2px;
}
.jssort101 .p:hover .cv {
  background-color: rgba(0, 0, 0, 6);
  opacity: 0.35;
}
.jssort101 .p:hover.pdn {
  padding: 0;
}
.jssort101 .p:hover.pdn .cv {
  border: 2px solid #fff;
  background: none;
  opacity: 0.35;
}
.jssort101 .pav .cv {
  border-color: #fff;
  opacity: 0.35;
}
.jssort101 .pav .a,
.jssort101 .p:hover .a {
  visibility: visible;
}
.jssort101 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0.6;
}
.jssort101 .pav .t,
.jssort101 .p:hover .t {
  opacity: 1;
}

.bg-img {
  display: grid;
  width: 100%;
  height: 550px;
  background-image: url(../assets/img/led_shop_name_board.jpg);
  background-size: fill;
  place-items: center;
  text-align: center;
}

.bg-img h1 {
  color: white;
  font-weight: 800;
}
.l-btn {
  width: 200px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ec4225;
}

.l-text-img-row .wrapper {
  padding: 20px;
}
.l-text-img-row h2 {
  font-weight: bold;
  text-align: center;
}
.l-text-img-row ul {
  width: 100%;
  margin: 30px 0px;
}

.l-text-img-row li {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.l-text-img-row li a {
  text-decoration: none;
  color: rgb(133, 131, 131);
  font-weight: 600;
}
.l-text-img-row img {
  max-width: 100%;
  padding: 20px;
}

.l-customers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  text-align: center;
  justify-items: center;
  border-top: solid 1px rgba(51, 51, 51, 0.151);
  margin: 20px 0px 0px 0px;
}

.l-customers h5 {
  color: #ec4225;
  font-size: 15px;
  font-weight: 900;
  padding: 10px;
}

.l-contact {
  display: flex;
  width: 100%;
  height: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
}
.l-contact h4 span:first-child {
  margin-right: 60px;
}
.l-contact h4 a:first-child {
  text-decoration: none;
  color: #ec4225;
  font-weight: bold;
}

.l-contact h4 a {
  text-decoration: none;
  color: #898989;
  font-weight: bold;
}

.l-map {
  padding: 60px 0px 50px;
}
.l-map .l-address {
  height: 100px;
  text-align: center;
  font-weight: bolder;
  color: gray;
}
.l-map .l-address h5 {
  font-weight: bolder;
  color: black;
}
.fab {
  font-size: 25px;
}

@media only screen and (max-width: 720px) {
  .nav-top {
    display: none;
  }
}

/* about page */

.about-img-wrapper {
  background-image: url(../assets/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* category */
.row{
  padding-top: 40px;
}
.grid {
  padding: 20px 0px;
}
.grid-item {
  margin: 10px;
  float: left;
}
.grid-item .card {
  border: none;
  box-shadow: #00000014 5px 5px 12px 2px;
}
.grid-item .card .card-img-top {
  width: 320px;
  height: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.list-group .active, #v-pills-tab .nav-link.active{
  background-color: #ec4225;
  border: #000;
  color: white;

}
#v-pills-tab .nav-link {
  color: black;
}